<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : system.xml
    Created on : July 2, 2013, 11:01 AM
    Author     : Tsareva Alena <tsareva.as@gmail.com>
-->

<config>
    <tabs>
        <magentweet translate="label">
            <label>Tsareva</label>
            <sort_order>202</sort_order>
        </magentweet>
    </tabs>
    <sections>
        <magentweet_settings translate="label">
            <label>Magentweet Configuration</label>
            <tab>magentweet</tab>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <config_groups translate="label">
                    <label>Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <user_name translate="label">
                            <label>User Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </user_name>
                        <consumer_key translate="label">
                            <label>Consumer Key</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>obscure</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </consumer_key>
                        <consumer_secret translate="label">
                            <label>Consumer Secret</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>obscure</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </consumer_secret>
                        <oauth_token translate="label">
                            <label>OAuth Token</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>obscure</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </oauth_token>
                        <oauth_token_secret translate="label">
                            <label>OAuth Token Secret</label>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <frontend_type>obscure</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </oauth_token_secret>
                    </fields>
                </config_groups>
            </groups>
        </magentweet_settings>
    </sections>
</config>
